<div class="mx-auto flex max-w-[50ch] flex-col items-center gap-3 text-center">
	<div class="bg-secondary inline-grid h-20 w-20 place-items-center rounded-[100%]">
		<svg width="40" height="40" class="text-accent-blue" aria-hidden="true" class="block">
			<use href="<%= publicPrefix + '/' + assets['sprite.svg'] + '#calendar' %>"></use>
		</svg>
	</div>
	<h3 class="text-md text-dark font-bold">Noch keine Termine</h3>
	<p>
		Du nimmst aktuell an keinen Terminen teil. Entdecke öffentliche Termine oder erstelle
		deinen ersten eigenen Termin!
	</p>
</div>
