<div
	class="modal fixed inset-0 grid hidden place-items-center transition-colors [&[aria-hidden='false']]:bg-black/50"
	aria-hidden="true">
	<div class="modal__inner">
		<%- include("./event-form") %> <%- include("./group-form") %> <%-
		include("./group-enter-form") %>
	</div>
</div>
