<!DOCTYPE html>
<html lang="de">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="<%= publicPrefix + assets['index.css'] %>" />
		<script defer src="<%= publicPrefix + assets['index.js'] %>"></script>
		<title><%= title %></title>
	</head>
	<body>
		<%- include('templates/' + template) %>
	</body>
</html>
