<%- include("partials/header") %>

<h1 class="flex bg-amber-50">Was geht !</h1>
<p>a random message</p>
<div class="flex">
	<h2 class="bg-amber-900">this is a heading 2</h2>
	<h2>this is a heading2</h2>
</div>

<%- include("partials/footer") %>
