@layer components {
	.view-switcher {
		--focus-offset: 0;
		@apply flex gap-[8px];

		@variant lg {
			@apply gap-[24px];
		}

		&__button {
			@apply text-md flex flex-1 cursor-pointer items-center gap-[8px] border-none bg-transparent px-[12px] py-[8px];

			@variant lg {
				@apply px-[18px];
			}
		}

		&__button.is-active {
			@apply bg-secondary text-accent-blue;
		}

		&--main {
			--focus-offset: 0;
			.view-switcher__button[aria-pressed='true'] {
				@apply text-accent-blue rounded-sm;
			}
		}
	}
}
