<footer class="py-[24px] text-center">
	<p>&copy; <%= new Date().getFullYear() %> SportsMeet. All rights reserved.</p>
	<a class="mt-2 inline-block text-[#0000EE] underline decoration-[#0000EE] underline-offset-4" href="/privacy-policy"
		>Datenschutzerklärung</a
	>
</footer>
