@layer base {
	:focus {
		outline: none;
	}

	:focus-visible {
		outline: var(--focus-width, 2px) var(--focus-style, solid)
			var(--focus-color, currentColor);
		outline-offset: var(--focus-offset, 0.15lh);
	}
}
/*
Firefox is the only browser that doesn't outline the whole element unless you make it display: inline-block. 
That in itself causes multiple flow issues so we can detect it, using its own vendor prefix and reduce focus offset
*/

@supports (-moz-appearance: none) {
	:root {
		--focus-offset: 0.08em;
	}
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
	-webkit-text-fill-color: currentColor;
	-webkit-box-shadow: 0 0 0px 1000px transparent inset;
	box-shadow: 0 0 0px 1000px transparent inset;
	transition: background-color 9999s ease-in-out 0s;
	appearance: none;
}
