@import 'tailwindcss' source(none);
@source '../../server/views/';
@source '../js/';

@import './font-face.css';
@import './global.css';
@import './theme.css';
@import './components/view-switcher.css';
@import './components/tabs.css';

@import './utility/pane.css';
